
.ad-header
    .ad-right_header
        img.ad-logo-img(src='../../img/logo2.png' alt='logo')
    .ad-left_header
        ul.ad-nav
            li.ad-nav_item
                i.bi.bi-house-door
                a(href='#') Home
            li.ad-nav_item
                i.bi.bi-list-ol
                a(href='../product/product.html') Product
            li.ad-nav_item
                i.bi.bi-truck
                a(href='#') Delivery
            li.ad-nav_item
                i.bi.bi-door-closed
                a(href='#') Logout
