extends base_admin

block content
    .backchome-products
        a.backhome(href='/admin/products') Quay l&#x1EA1;i trang ch&#x1EE7;
    .add-products
        p.header-add-product-admin CEMMERY
        p.title-add-product /Add Products/
    form.main-content-add(action="/admin/product/add" method='POST')
        fieldset.add-content-product
            legend Th&ocirc;ng tin s&#x1EA3;n ph&#x1EA9;m
            p
                span.content-add Tên Sản phẩm:
                input.add-product-input(type='text' name='productName')
            p
                span.content-add Giá:
                input.add-product-input(type='text' name='price')
            p
                span.content-add Ảnh trước:
                input.add-product-input(type='text' name='thumbnail')
            p
                span.content-add Ảnh Sau:
                input.add-product-input(type='text' name='thumbnailAfter')
            p
                label.content-add(for='type') Loại sản phẩm:
                select(name='productType' id='type')
                    option(value='Tops') Tops
                    option(value='Bottom') Bottom
                    option(value='Outerwear') Outerwear
            p
                span.content-add M&ocirc; t&#x1EA3;:
                textarea.add-product-input(name='description')
            .add-product-btn-admin
                button.add-product-btn(type='submit' style='margin-left: 90%') Save
