extends base_admin

block content
    .backchome-products
        a.backhome(href='/admin') Quay l&#x1EA1;i trang ch&#x1EE7;
    .admin-product_header
        p All Product
        a(href='product/add')
            button.admin-product_btn-add Th&ecirc;m s&#x1EA3;n ph&#x1EA9;m m&#x1EDB;i

    .admin-product_body
        each product in products
            .admin-product_main
                img.admin-product_img(src=`${product.thumbnail}` alt='áo đẹp')
                .admin-product_content
                p.admin-product_name=product.productName
                p.admin-product_price=product.price
                p.admin-product_description=product.description
                .admin-product_btn-edit
                a(href='./edit-product/edit.html')
                    button.admin-product_btn Edit
                a(href='#')
                    button.admin-product_btn Delete

