.subcribe
    .sub-title
        i.bi.bi-envelope
        span.sub-text &Dstrok;&abreve;ng k&iacute; nh&#x1EAD;n tin
    .sub-input
        input(type='Email' placeholder='Hãy nhập Email' style='border: none;')
        button(type='submit' style='padding: 5px 7px; border: none; margin-left : 5px;')
            i.bi.bi-send-plus
    .contact-info
        i.bi.bi-telephone-forward-fill
        span(style='font-size: 14px;') Li&ecirc;n h&#x1EC7; / H&#x1ED7; tr&#x1EE3; : 0123456789


.footer
    .footer1
        h3 Giới thiệu
        span DPQL là thương hiệu đặt chất lượng lên hàng đầu
    .footer2
        h1 Thông tin liên hệ
        span
            i.bi.bi-geo-alt
            | 828 Sư Vạn Hạnh, Phường 12, Quận 10, TPHCM
        span
            i.bi.bi-phone-fill
            |  0123456789
        span
            i.bi.bi-envelope-open-fill
            |  DPQL.contact@gmail.com
    .footer3
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62711.34756167934!2d106.6323454852547!3d10.77609705237898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edb765b5c25%3A0x9a3519bdad5a85a3!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOZ2_huqFpIG5n4buvIC0gVGluIGjhu41jIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCAoSFVGTElUKQ!5e0!3m2!1svi!2s!4v1669396525691!5m2!1svi!2s' width='480px' height='260px' frameborder='0')
.author
    h5(style='text-align : center')
        i.bi.bi-check-circle-fill
        span  Coppyright 2022 DPQL.
        span
            | Powered by
            strong  DPQL Team
.back-to-top-btn
    a#to-top(href='#')
        i.bi.bi-caret-up-square
script.
    window.onscroll = function () { myFunction() };
    let navbar = document.getElementById("i-nav");
    let sticky = navbar.offsetTop;
    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
    function myFunction1() {
    document.getElementById("myDropdown1").classList.toggle("show-login");
    }
    window.onclick = function(e) {
    if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown1");
        if (myDropdown.classList.contains('show-login')) {
        myDropdown.classList.remove('show-login');
        }
    }
    }
   

