.subcribe
    .sub-title
        i.bi.bi-envelope
        span.sub-text &Dstrok;&abreve;ng k&iacute; nh&#x1EAD;n tin
    .sub-input
        input(type='Email' placeholder='Hãy nhập Email' style='border: none;')
        button(type='submit' style='padding: 5px 7px; border: none; margin-left : 5px;')
            i.bi.bi-send-plus
    .contact-info
        i.bi.bi-telephone-forward-fill
        span(style='font-size: 14px;') Li&ecirc;n h&#x1EC7; / H&#x1ED7; tr&#x1EE3; : 0123456789


.footer
    .footer1
        h3 Giới thiệu
        span DPQL là thương hiệu đặt chất lượng lên hàng đầu
    .footer2
        h1 Thông tin liên hệ
        span
            i.bi.bi-geo-alt
            | 123 Đường Trần Duy Hưng Hà Nội
        span
            i.bi.bi-phone-fill
            |  0123456789
        span
            i.bi.bi-envelope-open-fill
            |  DPQL.contact@gmail.com
    .footer3
        iframe(src='https://www.youtube.com/embed/ZqDBgYPpUTg' width='380px' height='240px' frameborder='0')
.author
    h5(style='text-align : center')
        i.bi.bi-check-circle-fill
        span  Coppyright 2022 DPQL.
        span
            | Powered by
            strong  DPQL Team
.back-to-top-btn
    a#to-top(href='#')
        i.bi.bi-caret-up-square
script.
    window.onscroll = function () { myFunction() };
    let navbar = document.getElementById("i-nav");
    let sticky = navbar.offsetTop;
    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
    function myFunction1() {
    document.getElementById("myDropdown1").classList.toggle("show-login");
    }
    window.onclick = function(e) {
    if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown1");
        if (myDropdown.classList.contains('show-login')) {
        myDropdown.classList.remove('show-login');
        }
    }
    }

