extends base


block scripts
    script(src='/js/cart.js')
block content
    .cart
        .title-header
            h1.title-web Gi&#x1ECF; h&agrave;ng c&#x1EE7;a b&#x1EA1;n
            hr.line-header
        .cart-container          
        .final
            .left-final
                textarea.note(type='text' placeholder='Ghi chú')
            .right-final
                div
                    p
                    | T&#x1ED5;ng ti&#x1EC1;n: 
                    span.price-final
                    sup VND;
                div(style='margin-right: 10px')
                    a.btn-cart(href='/products') TI&#x1EBE;P T&#x1EE4;C MUA HÀNG
                    a.btn-cart(href='/cart') C&#x1EAC;P NH&#x1EAC;T
                    a.btn-cart(href='/payment') THANH TO&Aacute;N
