extends base

block content
    .main(style='text-align: center')
        h1 Kh&ocirc;ng t&igrave;m th&#x1EA5;y trang
        p.title Xin l&#x1ED7;i, ch&uacute;ng t&ocirc;i kh&ocirc;ng t&igrave;m th&#x1EA5;y trang n&agrave;y
        .home
            a.back(href='/') Tr&#x1EDF; v&#x1EC1; trang ch&#x1EE7;
        hr.line
