extends base

block scripts
    script(src='/js/login.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js')

block content

    form.form-login(action='/login' method='POST', id='login')
        .login-container
            .login-title
                h1 &Dstrok;&abreve;ng nh&#x1EAD;p
                hr.line
            .login-info
                .input1-container
                    input#input-email(type='text' placeholder='Email' name='email' required=true)
                    span
                .input1-container
                    input#input-password(type='password' placeholder='Password' name='password' required=true)
                .mini-title
                    | This site is protected by reCAPTCHA and the &#32;
                    a(href='https://policies.google.com/privacy?hl=en-US') Google Privacy Policy
                    |             and &#32;
                    a(href='https://policies.google.com/privacy?hl=en-US') Terms of Service
                    |             apply
                .button-container
                    button.login-btn(type='submit' value='Đăng nhập') &Dstrok;&abreve;ng nh&#x1EAD;p
                .option
                    p
                        a(href='') Quên mật khẩu
                        |  hoặc &#32;
                        a(href='/register') Đăng ký
