extends base


block content


    .payment
        .content-payment
            .info-ship
                a.title-payment(href='#') CEMMERY
                p.title-ship Th&ocirc;ng tin giao h&agrave;ng
                p.account
                    | B&#x1EA1;n &dstrok;&atilde; c&oacute; t&agrave;i kho&#x1EA3;n ch&#x1B0;a? 
                    a.login-payment(href='#') &Dstrok;&abreve;ng nh&#x1EAD;p
                .input-info
                    input.input-info-ship(type='text' placeholder='Họ và tên')
                    input.input-info-ship(type='text' placeholder='Email')
                    input.input-info-ship(type='text' placeholder='Số điện thoại')
                    input.input-info-ship(type='text' placeholder='Địa chỉ')
            .info-order
                .show-info-ship
                    .content-hidden
                        .title-pay Th&ocirc;ng tin &dstrok;&#x1A1;n h&agrave;ng
                        .product
                            .img
                                img.img-product-pay(src='https://product.hstatic.net/200000259629/product/artboard_3_copy_2x-100_4f454fb927c3475c9b3161fc07898f23_grande.jpg' alt='hình ảnh')
                            .properties
                                .title-properties
                                    p.name-properties SIGNATURE TEE 1.0 #White
                                    p.size M
                                    p
                                        | S&#x1ED1; l&#x1B0;&#x1EE3;ng: 
                                        span 1
                                .price-properties
                                    span 149,000&dstrok;
                        .price-ship
                            p.name-price Ph&iacute; v&#x1EAD;n chuy&#x1EC3;n
                            span 15.000&dstrok;
                        hr
                        .final-price
                            p.name-price T&#x1ED5;ng c&#x1ED9;ng
                            span  140,000&dstrok;
                .next
                    a.back-cart(href='#') Quay l&#x1EA1;i gi&#x1ECF; h&agrave;ng
                    button.btn-step-2 TI&#x1EBE;P T&#x1EE4;C &Dstrok;&#x1EBE;N PH&#x1AF;&#x1A0;NG TH&#x1EE8;C THANH TO&Aacute;N
