extends base
block scripts
    script(src="/js/payment.js")
    
block content
    .payment
        .content-payment
            .info-ship
                a.title-payment(href='#') DPQL
                p.title-ship Th&ocirc;ng tin giao h&agrave;ng
              
                .input-info
                    input.input-info-ship(type='text' placeholder='Họ và tên')
                    input.input-info-ship(type='text' placeholder='Email')
                    input.input-info-ship(type='text' placeholder='Số điện thoại')
                    input.input-info-ship(type='text' placeholder='Địa chỉ')
            .info-order
                .show-info-ship
                    .content-hidden
                        .title-pay Th&ocirc;ng tin &dstrok;&#x1A1;n h&agrave;ng
                        .payment_product-holder  

                        .price-ship
                            p.name-price Ph&iacute; v&#x1EAD;n chuy&#x1EC3;n
                            span.shipping-price 
                        hr
                        .final-price
                            p.name-price T&#x1ED5;ng c&#x1ED9;ng
                            span.payment_final-price  
                .next
                    a.back-cart(href='#') Quay l&#x1EA1;i gi&#x1ECF; h&agrave;ng
                    button.btn-step-2 XÁC NHẬN MUA HÀNG
