extends base

block scripts
    script(src='/js/products.js')


block content
    .product-holder
        each product in listProducts
            .product-list
                a.product-list(href=`/product/${product.id}`)
                    img(src=`${product.thumbnail}` alt='').product-thumbnail
                    h5.product-name=product.productName
                    p.product-price=`${product.price}đ`
