extends base

block content
    .profile-container
        h3.profile-title Your profile
        p.profile-lastname=user.lastname
        p.profile-firstname=user.firstname
        p.profile-email=user.email