extends base 

block content


    .thanks-page
        div
            img.thanks-img(src='/img/completed-task.png' alt='hình ảnh')
        .thanks-users
            p.completed &Dstrok;&#x1EB7;t H&agrave;ng Th&agrave;nh C&ocirc;ng!
            p
            | C&#x1EA3;m &#x1A1;n b&#x1EA1;n &dstrok;&atilde; &dstrok;&#x1EB7;t h&agrave;ng. Vui l&ograve;ng theo d&otilde;i &dstrok;&#x1A1;n h&agrave;ng v&agrave; nghe m&aacute;y khi
            | shipper li&ecirc;n h&#x1EC7;.
        div
            a(href='/products')
            button.thanks-btn Ti&#x1EBF;p t&#x1EE5;c mua h&agrave;ng
