* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", serif;
  font-weight: normal;
  font-size: 15px;
}
.left-header {
  display: flex;
  flex-direction: row;
}
h1 {
  color: rgb(44, 36, 36);
  font-size: 55px;
  font-weight: bold;
}
.logo-img {
  width: 100px;
  height: 80px;
}


i {
  margin-right: 2px;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40vw;
  height: 100%;

}
.right-header {
  float: right;
}
.logo-img {
  margin-left: 50px;
}
a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
}

ul li {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
  padding: 35px 45px;
}
.nav-item {
  width: 100%;
  height: 100%;
}
.nav-item:hover {
  background-color: white;
  color: red;
}
.nav-item:hover a {
  color: red;
}
.body {

  display: flex;
  width: 100vw;
}
.body-left {
  width: 20vw;
  background-color: rgb(113, 104, 104);
  color: white;
  height: 100vh;
}
.menu {
  margin-top: 20vh ;
}
.menu-item {
  transition: 0.2s;
  font-size: 18px;
  font-weight: bold;
}
.menu-item:hover {
  background-color: white;
  color: rgb(113, 104, 104);
  width: 100%;
}

.notify {
  text-align: center;
  margin-bottom: 30px;
}
.body-right {
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
}
.shower {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 40px;
  justify-items: center;
  row-gap: 15vh;
}

.shower-item {
  display: flex;
  background-color: #fff;
  height: 30vh;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  width: 35vw;
  font-size: 22px;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
.shower-item:hover {
  opacity: 0.8;
}
.shower-item:nth-child(1) {
  background-color: #4158d0;
  background-image: linear-gradient(
          43deg,
          #4158d0 0%,
          #c850c0 46%,
          #ffcc70 100%
  );
}
.shower-item:nth-child(2) {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}
.shower-item:nth-child(3) {
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}
.shower-item:nth-child(4) {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

/* product */
/* *{
    margin: 0px;
    font-family: "Helvetica Neue", sans-serif;
} */
.backchome-products{
  background-color: #4bb6fa;
  padding: 5px;
}
.backhome{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.backhome:hover{
  color: #135882;

}
.admin-product_header{
  font-size: 70px;
  text-align: center;
  padding: 25px 0px;
}
.admin-product_btn-add{
  border: none;
  border-radius: 3px;
  font-size: 20px;
  background-color: #4bb6fa;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin-left: 14px;
  margin-bottom: 10px;
}
.admin-product_btn-add:hover{
  background-color: white;
  color: #4bb6fa;
  border: 1px solid #4bb6fa;
}
.admin-product_body{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  grid-column-gap: 2%;
  grid-row-gap:20px;
  justify-items: center;
}
.admin-product_main{
  width: 270px;
  box-shadow: 5px 5px 5px 1px rgb(109, 110, 111);
}
.admin-product_img{
  width: 270px;
}
.admin-product_name{
  font-size: 25px;
  font-weight: 600;
}
.admin-product_price{
  font-size: 20px;
  font-weight: 600;
}
.admin-product_description{
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.admin-product_btn-edit{
  display: flex;
  justify-content: space-between;
}
.admin-product_btn{
  border: none;
  border-radius: 3px;
  font-size: 20px;
  background-color: white;
  color: #4bb6fa;
  padding: 2px;
  cursor: pointer;
  margin: 2px;
}
.admin-product_btn:hover{
  background-color: #4bb6fa;
  color: white;
  border: 1px solid #4bb6fa;
}
/* order */
/* *{
    margin: 0px;
    font-family: "Helvetica Neue", sans-serif;
} */
.backchome-products{
  background-color: #4bb6fa;
  padding: 5px;
}
.backhome{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.admin-order_header{
  font-size: 70px;
  font-weight: 700;
  padding: 30px;
  text-align: center;
}
.all-orders{
  width: 100vw;
  height: 80px;
}
.admin-order_header-content{
  border: 0.2px solid black;
  font-weight: 600;
  font-size: 15px;
  color: white;
  background-color: #1d86c7;
  text-align: center;
  height: 80px;
  display: grid;
  grid-template-columns: 20% 10% 12.5% 25% 8% 12% 12.5%;

  /* vertical-align: center; */
  /* margin: auto auto; */
}
.admin-order_content{
  overflow: hidden;
  border-right: 1px solid black;
  height: 100%;
  padding-top: 30px;
  justify-items: center;

}
.admin-order_info{
  border: 2px solid grey;
  font-size: 15px;
  border-top: none;
  height: 40px;
  text-align: center;
  display: grid;
  grid-template-columns: 20% 10% 12.5% 25% 8% 12% 12.5%;
  align-content: space-around;
}
.admin-order_properties{
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: 1px solid grey;
}
/* add product */
/* *{
    margin: 0px;
} */
.backchome-products{
  background-color: #4bb6fa;
  padding: 5px;
}
.backhome{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.backhome:hover{
  color: #135882;
}
.header-add-product-admin{
  font-size: 40px;
  text-align: center;
  margin: 40px 0px 0px 0px;
  font-weight: 700;
}
.title-add-product{
  font-size:18px ;
  font-weight: 550;
  text-align: center;
  padding: 20px 0px 20px 0px;
}
.main-content-add{

  background-color: #a7f4f5;
  width: 60%;
  margin-left: 20%;
}
.add-content-product{
  font-size: 20px;
}
.add-product-input{
  width: 70%;
  resize: none;
}
.content-add{
  width: 150px;
  display:inline-block;
}
.add-product-btn-admin{
  display: flex;
  justify-content:space-between;
}
.add-product-btn{
  padding: 5px;
  border:1.5px solid #118edc;
  font-size: 14px;
  color: #118edc;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}
.add-product-btn:hover{
  cursor: pointer;
  background-color: #118edc ;
  color: white;
}
@media screen and (max-width:499px){
  .main-content-add{
    width: 100%;
    margin: 0px;
  }
}
/* edit product */
/* *{
    margin: 0px;
} */
.backchome-products{
  background-color: #4bb6fa;
}
.backhome{
  text-decoration: none;
  color: black;
}
.backhome:hover{
  color: #135882;
}

.header-edit-product-admin{
  font-size: 40px;
  text-align: center;
  margin: 40px 0px 0px 0px;
  font-weight: 700;
}
.title-edit-product{
  font-size:18px ;
  font-weight: 550;
  text-align: center;
  padding: 20px 0px 20px 0px;
}
.main-content-edit{
  background-color: #a7f4f5;
  width: 60%;
  margin-left: 20%;
}
.edit-content-product{
  font-size: 20px;
}
.edit-product-input{
  width: 70%;
  resize: none;
}
.content-edit{
  width: 150px;
  display:inline-block;
}
.edit-product-btn-admin{
  display: flex;
  justify-content:space-between;
  padding-top: 10px;
}
.edit-product-btn{
  padding: 5px;
  border:1.5px solid #118edc;
  font-size: 14px;
  color: #118edc;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}
.edit-product-btn:hover{
  cursor: pointer;
  background-color: #118edc ;
  color: white;
}
@media screen and (max-width:499px){
  .main-content-edit{
    width: 100%;
    margin: 0px;
  }
}

.add-product-input {
  margin-top: 10px;
}

/* profile */


.profile-user{
  display: flex;
  align-items: center;
}
.profile-gallary{
  border: 1px solid black;
  width: 50vh;
  height: 50vh;
  border-radius: 1px;
  margin: 50px;
}
.profile-gallary > img{
  width: 100%;
  height: 100%;
}
.profile-detail{
  margin: 50px ;
  width:  60%;
}
.detail-name{
  display: flex;
}
.first-name{
  display: flex;
  width: 40%;
  margin-bottom: 20px;
}
.first-name > span{
  padding: 10px;
  width: 50%;
  font-size: 20px;
}
.first-name >p, .last-name > p,.detail-privilege > p, .detail-email>p, .detail-password>p{
  width: 120px;
  padding: 10px;
  font-size: 20px;
}
.last-name{
  display: flex;
  margin-left: 5vh;
  width: 50%;
  margin-bottom: 20px;
}
.last-name > span{
  padding: 10px;
  width: 75%;
  font-size: 20px;
}
.detail-privilege{
  display: flex;
  padding-top: 25px ;
  border-top: solid 1px;
  margin-bottom: 25px;
}
.detail-privilege > span{
  padding: 10px;
  width: 80%;
  font-size: 20px;
}
.detail-email{
  display: flex;
  padding-top: 25px ;
  border-top: solid 1px;
  margin-bottom: 25px;
}
.detail-email> span{
  padding: 10px;
  width: 80%;
  border-radius: 2px;
  font-size: 20px;
}
.detail-password{
  display: flex;
  padding-top: 25px ;
  border-top: solid 1px;
  margin-bottom: 25px;
}
.detail-password > span{
  padding: 10px;
  width: 80%;
  font-size: 20px;
}
.profile-button{
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}
.profile-button_edit, .profile-button_delete{
  width: 30vh;
  height: 10vh;
  border: solid 1px;
  background-color: red;
  color: white;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  padding: 3vh;
  border-radius: 3px;
  margin: 0 50px;
}
.profile-button_edit:hover , .profile-button_delete:hover{
  background-color: white;
  border: solid 1px red;
  color: black;

}
@media screen and (max-width: 1023px) {
  .profile-user{
    display:block;
  }
  .profile-gallary{
    width: 90%;
    height: 90%;
    margin: 50px auto;
  }
  .profile-detail{
    margin: 10px auto;
    width: 90%;
  }
  .detail-name{
    display: block;
  }
  .first-name{
    width: 100%;
  }
  .first-name > span{
    width: 60%;
  }
  .last-name {
    margin-left: 0;
    width: 100%;
    border-top: solid 1px;
    padding-top: 25px;
    margin-bottom: 25px;
  }
  .last-name > span{
    width: 60%;
  }
  .profile-button_edit, .profile-button_delete{
    margin: 2px;
  }
  .detail-privilege > span , .detail-email> span, .detail-password > span{
    width: 60%;
  }
}
/*user */
.user-title{
  text-align: center;
  font-size: 30px;
}
.admin-title{
  border: solid 1px;
  padding: 10px 10px;
  background-color: aliceblue;
  font-size: 25px;
  margin: 10px 0;
}
.add-profile_admin > a ,.add-profile_customer>a{
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.add-profile_admin ,.add-profile_customer{
  border: solid 1px white;
  width: 30vh;
  height: 5vh;
  font-size: 20px;
  margin-left: 10px;
  background-color: red;
}
.add-profile_admin-title, .add-profile_customer-title{
  margin-left: 10px;
}
.add-profile_admin:hover ,.add-profile_customer:hover{
  background-color: aliceblue;
  border: solid 1px red;
}
.add-profile_admin > a:hover, .add-profile_customer > a:hover{
  color: black
}
.admin-list{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 20px;
  padding: 10px;
}
.admin-content{
  border: solid 1px rgb(178, 178, 178);
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 1px;
}
.admin-content > a, .customer-content >a{
  text-decoration: none;
  color: black;
}
.admin-content:hover, .customer-content:hover{
  border: solid 1px ;
}
.admin-img ,.customer-img{
  width: 100%;
  height: 75%;
}
.admin-name{
  font-size: 18px;
  margin-top: 20px;
}
.customer-name{
  font-size: 18px;
  margin: 5px 0;
}
.customer-list{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 20px;
  padding: 10px;
}
.customer-title{
  border: solid 1px;
  padding: 10px 10px;
  background-color: aliceblue;
  font-size: 25px;
  margin: 10px 0;
}
.customer-content{
  border: solid 1px rgb(178, 178, 178);
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 1px;
  cursor: pointer;
}
.customer-email{
  margin-bottom: 3px;
}
@media screen and (max-width: 1023px){
  .user-title{
    font-size: 25px;
  }
  .admin-list ,.customer-list {
    grid-template-columns: repeat(3,1fr);
  }
  .admin-img {
    width: 100%;
    height: 70%;

  }
  .customer-img{
    width: 100%;
    height: 70%;
  }
  .admin-name ,.customer-name{
    font-size: 20px;
    margin: 5px 0;
  }
  .customer-email{
    font-size: 20px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 719px){
  .user-title{
    font-size: 20px;
  }
  .admin-list ,.customer-list {
    grid-template-columns: repeat(2,1fr);
  }
  .admin-name ,.customer-name{
    font-size: 11px;
    margin: 4px 0 1px;
  }
  .customer-email{
    font-size: 12px;
  }
}

